.button {
    display: flex; justify-content: center; align-items: center;
    border-width: 2px; border-color: black; border-style: solid;
    height: 30px; min-width: 30px; margin: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #C4B8DB; border-color: #7851A9;

}


.row {
    display: flex;
}